body {
    text-align: center;
    padding-top: 60px; 
    font-family: "Lato", "Roboto", sans-serif;
  }
  
  h1 {
    color: rgb(32, 218, 88); 
    font-size: 50px;
  }
  
  p{
    color: rgb(15, 12, 12); 
    font-weight: bold; 
    font-size: 25px; 
  }
  
  #message-el {  
    font-style: italic; 
  }
  
  button {
    background-color: goldenrod; 
    border: none; 
    color: darkgreen; 
    font-size: 25px; 
    font-weight: bold; 
    width: 225px; 
    height: 40px; 
    margin-top: 10px; 
    border-radius: 8px;
  }
  
  button:hover {
    cursor: pointer; 
  }
  
  span {
    font-weight: bold; 
    text-decoration: underline;
  }